body {
  margin: 0;
  padding: 0;
  font-family: "ff-dagny-web-pro", sans-serif;
  font-weight: 900;
  font-style: italic;
  color: #3A3C48;
}
p {
  font-weight: 400;
}
h3 {
  margin-top: 80px;
  color: #753346;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  background-color: #F9F9F9;
  border-bottom: 1px solid #D8D8D8
}
.nav-item {
  font-size: 1rem;
  line-height: 100px;
  padding: 0 20px;
  color: #acadb1;
  text-transform: uppercase;
}
.nav-mid {
  font-size: 1.5rem;
}
.nav-item a {
  color: #acadb1;
  text-decoration: none;
}
.nav-item a:hover {
  color: #3A3C48;
}
main {
  margin-top: 100px;
  padding: 20px;
}
.flex-container {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}
.flex-item {
  width: 150px;
  height: 150px;
  color: #fff;
  background-color: #18738a;
  line-height: 150px;
  font-size: 6rem;
  margin: 5px;
}
#flex-start {
  justify-content: flex-start;
}
#flex-end {
  justify-content: flex-end;
}
#center {
  justify-content: center;
}
#flex-evenly {
  justify-content: space-evenly;
}
#flex-around {
  justify-content: space-around;
}
#flex-between {
  justify-content: space-between;
}
.align {
  height: 300px;
  background-color: #333;
}
#align-start {
  align-items: flex-start;
}
#align-end {
  align-items: flex-end;
}
#align-center {
  align-items: center;
}
#align-stretch {
  align-items: stretch;
}
#align-stretch div {
  height: auto;
}
